<div class="row u-background-blue nav-top">
  <div class="col-sm-12">
    <h1>Select a Source of OER</h1>
  </div>
</div>

<div class="col-sm-4 sidebar">
  <table class="table table-striped voffset-15 table-anchors">
    <tbody>
      {{#each model as |source| }}
        <tr>
          <td>{{link-to source.name 'sources.source.courses' source.id}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{outlet}}
