<div class="col-sm-4 sidebar">
  <table class="table table-striped voffset-15 table-anchors">
    <tbody>
      {{#each model as |course| }}
        <tr>
          <td>{{link-to course.title 'sources.source.courses.course' course.id}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<div class="col-sm-8 col-sm-offset-4 main">
  {{outlet}}
</div>
