test!

<div class="row u-background-blue nav-top">
  <div class="col-sm-12">
    <h1>Select Source of OER</h1>
  </div>
</div>

{{#each model as |source| }}
  <li>{{source.name}} - {{link-to source.name 'sources.source' source.id}}</li>
{{/each}}

{{outlet}}
